*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;

}
.sidebar{
    position: fixed;
    left:0;
    width:250px;
    height:100%;
    background: rgba(33,33,33,1);

}
.sidebar header img{
    width: 50px;
    height: 50px;
    margin-top:40px;
    
}
.list{
    margin-top: 50px;
}
.sidebar ul li h3{
    margin-top: 50px;
    font-size:20px ;
    color: white;
    padding-left: 40px;
}
.sidebar ul li img{
    margin-top:50px;
    display: block;
    height: 30px;
    width: 30px;
    
    padding-left: 40px;
   
    
}

.sidebar ul a{
    
    width:100%;
    line-height: 40px;
    font-size: small;
    color: white;
    padding-left: 40px;
}
.col-md-2 img{
    height:30px;
    width:30px;
}

