

 *{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
 }


.A{
    margin-top: 80px;
}

.Position p{
    padding-top:8px;
}
.B{
    margin-top:20px;
}
.C{
    margin-top:20px; 
}
.C p{
    padding-top: 10px;
}
.E{
    margin-top: 20px;
}
.E p{
    padding-top:10px;
}
.F h2{
    margin-top: 20px;
}
.Position ul li{
    margin-left: 20px;
    padding-top:8px;
    list-style: square;
}
.search{
    margin-left: 78%;
    padding-top: 6px;
    position: fixed;
}

@media only screen and (min-width:768px){
    .col-md-2{
        background-color:rgba(33,33 ,33 ,1);

}


}
.col-md-10{
    background-color: white;
    padding-left:70px;
}
.navlink{
    
    list-style: none;
    text-decoration: none;
}
.navbar{
    width:100%;
    line-height: 40px;
    font-size: small;
    color: white;
    padding-left: 40px;
}
}
.text-center{
    margin-top: 100px;
}

.col-md-2 h3{
    margin-top: 50px;
    margin-bottom: 80px;
    font-size:20px ;
    color: white;
    
}
.d-md-none img{
    width: 30px;
    height: 30px;
}
.container{
    margin-left: 0;
}
.Position h1{
    margin-top: 100px;
}
.col-md-2 img{
    height:30px;
    width:30px;
}
